[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.animate-show-hide.ng-hide,
.activeMenu {
    opacity: 0;
}

.animate-show-hide.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.bird-image {
    cursor: pointer;
    width: 190px;
    height: 142px;
}

.bird-image:hover {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, -10px);
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.activeMenu {
    opacity: 1 !important;
}

.menu-image {
    opacity: 0.2;
    cursor: pointer;
    width: 65px;
    height: 65px;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.menu-image:hover {
    opacity: 1;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.modal-img {
    margin-bottom: 15px;
}

.margin-main {
    margin-top: 10px;
}

.text-img-hr {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 780px) {
    .bird-image {
        width: 140px;
        height: 104px;
    }
    .text-img-hr {
        font-size: 12px;
    }
    .menu-image {
        width: 40px;
        height: 40px;
    }
    .modal-menu-image {
        width: 60px;
        height: 60px;
    }
    .modal-sm {
        width: 80% !important;
    }
}