<html ng-app="feederBIOM">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/freelancer.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div ng-controller="speciesTest" class="container-fluid">
        <div class="page-header">
            <h1>feederBIOM</h1>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <p class="text-img-hr">Izaberite hranu</p>
                <div class="flex-container">
                    <div ng-repeat="foodMenu in foodArray" data-toggle="tooltip" title="{{foodMenu}}">
                        <img ng-class="{'activeMenu':food === foodMenu}" class="menu-image" src="data/menu-icons/{{foodMenu}}.jpg" ng-click="menu(foodMenu)">
                    </div>
                </div>
                <p class="text-img-hr">Izaberite tip hranilice</p>
                <div class="flex-container">
                    <div ng-repeat="feederMenu in feederArray" data-toggle="tooltip" title="{{feederMenu}}">
                        <img ng-class="{'activeMenu':feeder === feederMenu}" class="menu-image" src="data/menu-icons/{{feederMenu}}.jpg" ng-click="menu(feederMenu)">
                    </div>
                </div>
            </div>
            <div class="col-lg-10 margin-main">
                <div class="flex-container" style="margin: 0px auto;">
                    <div ng-repeat="bird in birds" ng-cloak ng-show="showSpecie(bird, food, feeder)" style="margin-left:10px;margin-right:10px" class="animate-show-hide">
                        <img ng-src="data/img/{{bird.img}}.jpg" ng-click="displayInfo(bird)" data-toggle="modal" data-target="#displayData" class="bird-image">
                        <p ng-cloak class="text-img-hr">{{bird.HR}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="displayData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{birdHRDisplay}}</h4>
                        <h5><em>{{birdLatinDisplay}}</em></h5>
                        <button ng-hide="playing" type="button" class="btn btn-default" ng-click="playCall('play')">
                            <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
                        </button>
                        <button ng-show="playing" type="button" class="btn btn-default" ng-click="playCall('stop')">
                            <span class="glyphicon glyphicon glyphicon-volume-off" aria-hidden="true"></span>
                        </button>
                        <span>{{soundAuthor}}</span>
                    </div>
                    <div class="modal-body">
                        <div class="flex-container flex-center">
                            <img class="modal-img" src="data/img/{{birdImgDisplay}}.jpg">
                        </div>
                        <p class="text-img-hr">Hrana</p>
                        <div class="flex-container">
                            <div ng-repeat="foodType in foodDisplay" data-toggle="tooltip" title="{{foodType}}">
                                <img class="modal-menu-image" src="data/menu-icons/{{foodType}}.jpg">
                            </div>
                        </div>
                        <p class="text-img-hr">Tip hranilice</p>
                        <div class="flex-container">
                            <div ng-repeat="feederType in feederDisplay" data-toggle="tooltip" title="{{feederType}}">
                                <img class="modal-menu-image" src="data/menu-icons/{{feederType}}.jpg">
                            </div>
                        </div>
                        <audio id="audio-lola" src="{{birdCall}}">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/app/data_prep.js"></script>
    <script src="js/app/app.js"></script>
</body>

</html>